altgraph==0.17.4
asgiref==3.8.1
Django==5.2.1
et_xmlfile==2.0.0
macholib==1.16.3
modulegraph==0.19.6
openpyxl==3.1.5
packaging==25.0
pefile==2023.2.7
py2app==0.28.8
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pywin32==310
pywin32-ctypes==0.2.3
setuptools==80.8.0
sqlparse==0.5.3
tzdata==2025.2
xlwings==0.33.15
